
.cabecalho__icones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}


.btn_abrirlateral{
  display: block;
  cursor: pointer;
  margin-left: 2em;
  background-color: black;
}


.active .bar:nth-child(2){
  opacity: 0;
}

.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(-45deg) ;
}

.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
}


.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #656565;
}


.cabecalho__subicones button {
  border: none;
  background: none;
  color: #fdfdfd;
  margin-left: 2rem;
}

.cabecalho__icones__menu i {
  color: #656565;
  font-weight: bold;
  font-size: 32px;
  transition: 0.5s;
}

.cabecalho__icones__menu i:hover {
  color: #fdfdfd;
  transition: 0.5s;
  cursor: pointer;
}

/* LOGO */

.cabecalho__logo___img {
  margin-left: 9em;
  padding-left: 6em;
  height: 100px;
  width: 200px;
}

/* =================== */

.cabecalho__subicones {
  display: flex;
  padding-right: 2em;
}

.cabecalho__subicones button {
  color: #656565;
  font-weight: bold;
  transition: 0.5s;
  font-size: 20px;
  cursor: pointer;
}

.cabecalho__subicones button:hover {
  color: #fdfdfd;
  transition: 0.5s;
}


/* LOGIN */

.login{
  display: flex;
  width: 600px;
  height: 350px;
  background-color: #b00404fa;
  border-radius: 0.5em;
  position: absolute;
  left: 46%;
  margin:20px 0;
  z-index: 1;

}

.campo{
  margin: 2em;
}

form{
  width: 65%;
  left: 0;
}

label{
  color: #000000;
  padding: 0 0 10px 0 ;
}

.input-padrao{
  width: 80%;
  border-radius: 10px;
}



.login_campo_botoes{
  display: flex;
  margin: 8em 0 0;
}

.login__produto{
  width: 30%;
  
}


.login_produto_banner{
  border: solid 2px #000000;
  box-shadow: 5px 5px 10px #000000;
  margin: 1em 0;
  width: 100%;
  height: 80%;
  background: url(../imagens/finalchampions.jpg) center /cover no-repeat ;
}

.login_produto_titulo{
  color: #fdfdfd;
  text-align: center;
  padding: 15px 0 0;
}
