/* CARROSSEL 1º ITEM  */

.caixaConteudos__1 {
  grid-area: parte1;
  margin: 2em 10em;
}

.d-block {
  height: 70vh;
}

.caixaConteudos__2 {
  display: flex;
  justify-content: space-around;
  color: white;
}
.card-body {
  background-color: black;
}
/* ===== */
