/* CARROSSEL 1ยบ ITEM  */

.caixaConteudos__1 {
  grid-area: parte1;
  margin: 2em 10em;
}

.d-block {
  height: 70vh;
}


/* ===== */

.caixaConteudos__2 {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 2em 0;
}
.card-body {
  background-color: black;
}

/* =============================== */


.caixaConteudo___3{
  height: auto;
}


.parceiros{
  height: 150px;
  width: 300px;
  border: 2px solid;
}

.todosparceiros{
  display:  flex; 
  justify-content: space-between;
}

#parceiros__mastercard{
  background: url(../imagens/mastercard.jpg) center / cover no-repeat;
}

#parceiros__senai{
  background: url(../imagens/senai.jpg) center / cover no-repeat;
}

#parceiros__american{
  background: url(../imagens/American-Express-Amex.jpg) center / cover no-repeat;
}

#parceiros__satander{
  background: url(../imagens/santander-banner.png) center / cover no-repeat;
}


.caixaconteudo3__parcerias{
  margin: 2em 4em;
}

.caixaconteudo3__parcerias__titulo{
  font-size: 25px;
  color: #fdfdfd;
  text-align: center;
  padding: 2em;
}

.caixaconteudo3__cupom{
  display: flex;
  justify-content: center;
  width: auto; 
  height: auto;
  padding: 5em 0; 
}

