*,.cabecalho,.subcabecalho, .rodape {
  font-family: 'Rubik', sans-serif
}

.corpo {
  height: 100vh;
}

.cabecalho {
  position: fixed;
  width: 100%;
  /* height: 15%; */
  background: #000000;
  z-index: 2;
}


.subcabecalho {
  padding-top: 9em;
  height: auto;
  background: #5a0101;
}


.conteudo {
  height: auto;
  background: #121212f7;
}

.rodape {
  height: 70vh;
  background: rgb(0, 0, 0);
}

