.menulateral{
    height: 100vh;
    width: 60vh;
    background-color: rgb(98, 10, 10);
    overflow-y: hidden;
    position: fixed;
    z-index: 1;
    top: 15; 
    overflow-x: hidden; 
    padding-top: 20px; 
    left: -100vw; 
    width: 25vw;
    transition: .45s;
}

.menulateral--ativo{
    left: 0;
    transition: .45s;
}



.menulateral__cabecalho{
    display: flex;
    justify-content: center;
    width: 100%;
   
}

#logo_menulateral{
    height: 180px;
    width: 180px;
}