.subcabecalho__navegacao___lista {
  justify-content: center;
  padding: 1em 0;
}

.subcabecalho__navegacao___lista li{
  padding: 2em 0;
}

.link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 1em;
  transition: 0.2s;
}

.link:hover{
  color: rgb(86, 86, 86);
  transition: 0.2s;
}

